$text-color: #2C3E50;
$inverted-text-color: #2C3E50;
$reviewed-color: #95A5A6; //#0099FF;
$blocker-color: #EA0000;

html {
    overflow-y: scroll;
}

footer {
    text-align: center;
    font-size: 80%;
    transition: opacity 2s;
    opacity: .5;
    padding-bottom: 40px;

    #github_link {
        display: block;
        margin: 10px auto 0;
        width: 31px;
        height: 30px;
        background: url(/asset/pics/github.png);
        overflow: hidden;
        text-indent: -9999px;
    }
}

footer:hover {
    opacity: 1;
    transition: opacity 1s;
}

p {
    line-height: 1.85em;
}

h1 {
    display: none;
}

.silent-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#tags li {
    display: inline-block;
    margin-bottom: 2px;
}

#tickets-list {
    .r, .b {
        border-left: 2px solid $reviewed-color;
    }
    .b {
        border-left: 15px solid $blocker-color;
        td:first-child {
            padding-left: 3px;
        }
    }
    tr {
        td:first-child {
            width: 7em;
            a {
                display: block;
            }
        }

        .ac {
            white-space: nowrap;
        }
    }
}

#tickets-list {
    .t {
        color: $text-color;
        opacity: .7;
        font-size: 80%;
        font-style: normal;
    }
}

#site-nav {
    border-radius: 0;
}

#login-form,
#search-form {
    padding: 11px 15px;
}

.logged-in-message {
    color: #fff;
    padding-top: 16px;

    .btn {
        margin-top: -2px;
        margin-left: 10px;
    }
}

.input-xs {
    height: 26px;
    padding: 1px 5px;
    font-size: 13px;
    line-height: 19.5px;
    border-width: 2px;
    border-radius: 3px;
}