$text-color: #2C3E50;

html {
    overflow-y: scroll;
}

footer {
    text-align: center;
    font-size: 80%;
    opacity: .5;
    padding-bottom: 40px;
}

p {
    line-height: 1.85em;
}

h1 {
    display: none;
}

.silent-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#tags li {
    display: inline-block;
    margin-bottom: 2px;

    a {
        padding: 0px 3px;
        font-size: 85%;
    }
}

#tickets-list {
    tr {
        td:first-child {
            width: 8em;
            a {
                display: block;
            }
        }
    }
}

.ticket-list-tag {
    color: $text-color;
    opacity: .7;
    font-size: 80%;
}

#site-nav {
    border-radius: 0;
}